.channels {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.channels-list {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    width: 250px;  
    padding: 15px; 
    border-right: 1px solid #e9ecef;
}

.channels-list > .list-group {
    flex: 1 1 1px;
    overflow-y: auto;
}

.channels-list > button {
    flex: 0 0 auto;
}

.channels-detail {
    flex: 1 1 auto;
}